absl-py==0.15.0
blis==0.7.5
catalogue==2.0.6
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
commonmark==0.9.1
cymem==2.0.6
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.1.0/en_core_web_sm-3.1.0-py3-none-any.whl
filelock==3.3.1
future==0.18.2
huggingface-hub==0.0.19
idna==3.3
jellyfish==0.8.8
Jinja2==3.0.2
joblib==1.1.0
keybert==0.5.0
MarkupSafe==2.0.1
murmurhash==1.0.6
networkx
nltk==3.6.5
numpy
packaging==21.0
pathy==0.6.0
Pillow==8.4.0
pke @ git+https://github.com/boudinfl/pke.git@485c93879988f5b0290d241ad484c4fae7454530
preshed==3.0.6
pydantic==1.8.2
Pygments==2.10.0
pyparsing==2.4.7
regex==2021.10.21
requests==2.26.0
rich==10.12.0
sacremoses==0.0.46
scikit-learn
scipy
segtok==1.5.10
sentence-transformers==2.1.0
sentencepiece==0.1.96
six==1.16.0
sklearn==0.0
smart-open==5.2.1
spacy==3.1.3
spacy-legacy==3.0.8
srsly==2.4.2
tabulate==0.8.9
thinc==8.0.11
threadpoolctl==3.0.0
tokenizers==0.10.3
torch==1.10.0
torchvision==0.11.1
tqdm==4.62.3
transformers==4.11.3
typer==0.4.0
typing-extensions==3.10.0.2
Unidecode==1.3.2
urllib3==1.26.7
wasabi==0.8.2
yake==0.4.8